@font-face {
    font-family: "dillan";
    src: url("./dillan.otf");
  }
  a {
    text-decoration: none;
  }
  body {
    background: #faf9f6;
    padding: 20px;
  }
  * {
    font-family: "dillan" !important;
    color: #36312d;
    box-sizing: border-box;
  }